* {
  box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', sans-serif;
}
.scene {
     width: 100%;
     height: 100%;
	 min-height: 500px;
	 position: relative;
	 top: 0px;
	 left: 0px;
	 background-color: #ebfcd4;
	 transform: translate3d(0, 0, 0);
}
.layer-5 {
     animation: animation_fg linear 100s infinite both;
	 background: url(https://raw.githack.com/sleepyw22/hello/main/%D0%BD%D0%B5%D0%B1%D0%BE.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 512px;
}
.layer-4 {
     animation: animation_fg linear 90s infinite both;
	 background: url(https://raw.githack.com/sleepyw22/hello/main/%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D1%8C%D1%8F.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 255px;
}
.layer-3 {
     animation: animation_fg linear 70s infinite both;
	 background: url(https://raw.githack.com/sleepyw22/hello/main/%D0%BE%D0%B7%D0%B5%D1%80%D0%BE.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 295px;
}
.layer-2 {
     animation: animation_fg linear 65s infinite both;
	 background: url(https://raw.githack.com/sleepyw22/hello/main/%D1%82%D1%80%D0%B0%D0%B2%D0%B0%20%D0%B2%D1%8B%D1%81%D0%BE%D0%BA%D0%B0%D1%8F.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 300px;
}
.layer-1 {
     animation: animation_fg linear 50s infinite both;
	 background: url(https://raw.githack.com/sleepyw22/hello/main/%D1%82%D1%80%D0%B0%D0%B2%D0%B0%20%D1%81%20%D1%80%D0%BE%D0%BC%D0%B0%D1%88%D0%BA%D0%B0%D0%BC%D0%B8.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 150px;
}
.object-1 {
     background: url(https://raw.githack.com/sleepyw22/hello/main/%D0%BB%D0%BE%D1%88%D0%B0%D0%B4%D1%8C.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 0px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 188px;
	 animation: animation_object linear 15s infinite both;
}
.object-2 {
     background:  url(https://raw.githack.com/sleepyw22/hello/main/%D0%BF%D1%82%D0%B8%D1%86%D1%8B.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 200px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 110px;
	 animation: animation_object linear 10s infinite both;
}
@keyframes animation_fg {
 0% {
background-position: 2765px 100%;
}
100% {
    background-position: 550px 100%;
  }
}
@keyframes animation_object {
0% {
background-position: -300px 100%;
}
  100% {
background-position: 2000px 100%;
}
}
